{% extends "::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{% if app.user %}Gebruiker {{ app.user.name }}{% else %} Oh-oh! {% endif %} | Coach{% endblock %}

{% block body %}
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div style="min-height: 946px;" class="content-wrapper">
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Gebruiker {{ user.name }}</h3>
                            </div>
                            <div class="box-body">
                                <div>
                                    {% if habits_reached %}
                                        <div>
                                            <table id="habits_reached" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Datum</th>
                                                    <th>Beschrijving</th>
                                                    <th>Habit Gehaald</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for hr in habits_reached %}
                                                    <tr{{ loop.index % 3 == 0 ? ' class="border_bottom"' : '' }}>
                                                        <td>
                                                            <span>{{ hr.getDate()|date("d/m/Y") }}</span>
                                                        </td>
                                                        <td>
                                                            <span>{{ hr.getHabitId().getDescription() }}</span>
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" name="reached" value="" {{ hr.getIsReached() == 1 ? 'checked' : '' }} disabled/>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <p>Er zijn geen habits gevonden.</p>
                                    {% endif %}
                                </div>
                                <div>
                                    {% if weights %}
                                        <div>
                                            <table id="weights" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Datum</th>
                                                    <th>Gewicht</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for w in weights %}
                                                    <tr{{ loop.index % 3 == 0 ? ' class="border_bottom"' : '' }}>
                                                        <td>
                                                            <span>{{ w.getDate()|date("d/m/Y") }}</span>
                                                        </td>
                                                        <td>
                                                            <span>{{ w.getWeight() }}</span>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <p>Er zijn geen gewichten gevonden.</p>
                                    {% endif %}
                                </div>
                                <div>
                                    {% if calories %}
                                        <div>
                                            <table id="calories" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Datum</th>
                                                    <th>Caloriën</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for c in calories %}
                                                    <tr{{ loop.index % 3 == 0 ? ' class="border_bottom"' : '' }}>
                                                        <td>
                                                            <span>{{ c.getDate()|date("d/m/Y") }}</span>
                                                        </td>
                                                        <td>
                                                            <span>{{ c.getCalories() }}</span>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <p>Er zijn geen caloriën gevonden.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
