{% extends "::base.html.twig" %}

{% block title %}Coaches overzicht | Administrator{% endblock %}

{% block body %}
<a href="{{ path('admin') }}">
    Index
</a>

{% if coaches %}
    <ul>
        {% for c in coaches %}
            <li>
                <a href="/admin/users/{{c.id}}">{{c.name|e}}</a> 
                (
                    <a href="/admin/users/{{c.id}}/edit">bewerken</a> | 
                    <a href="/admin/users/{{c.id}}/change-password">wijzig paswoord</a> | 
                    <a href="/admin/users/{{c.id}}/delete">verwijder</a>
                )
            </li>
        {% endfor %}
    </ul>
{% else %}
    <pre>Geen coaches gevonden.</pre>
{% endif %}
{% endblock %}
